.checkbox {
  &__input {
    position: absolute;
    width: 26px;
    height: 26px;
    opacity: 0;
    
  }
  &__input + label {
    display: inline-flex;
  align-items: center;
    user-select: none;
  }
&__input + label::before{
    content: '';
  display: inline-block;
  outline: none;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  flex-grow: 0;
    border: 1px solid #d4d4d4;
    background-color: white;
    border-radius:4px;
    appearance: none;
    margin-right: 12px;
    background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
    transition: all 0.5s;
}
    &__input:hover+ label::before{
        background-color: #FAFAFA;
    }
    &__input:focus+ label::before{
        background-color:  #F1F1F1;
        
    }
    &__input:active+ label::before{
        border: 2px solid #1111117A;
    }
    &__input:disabled+ label::before{
        border: 1px solid #D4D4D4;
    }
    &--error{
        background-color:  #F9E3E3;
        border: 1px solid #D4D4D4;
    }
    
  &__input:checked + label::before{
    background-image:  url('./../../../src/assets/svg/checked.svg') ;
    border: 1px solid $violet;
    background-color: $violet;
    &:focus{
      background-color: $violet-hover;
    }
  }
  &__input:checked:hover + label::before{
    background-color: $violet-hover;
    border-color:  $violet-hover;
    
  }
  &__input:checked:active + label::before{
    background-color: $violet-active;
    border-color:  $violet-active;
    
  }&__input:checked:focus + label::before{
    border-color:  $violet-focus;
    
  }
  &__input:checked:disabled + label::before{
    opacity: 56%;
    
  }
  
  
  &__text {
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    color: black;
    &--error{
        color: #DB524E;

    }
  }
  &__label{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    

  }
}
