.circle-btn{
    border-radius: 100%;
    background-color: $violet;
    padding: 10px 10px;
    height: 44px;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    &:hover{
        background-color: $violet-hover;
    }
    &:active{
        background-color: $violet-active;
    }
    &:focus {
        border: 2px solid #1111117A;
      }
      &:disabled{
        border: none;
        background-color: #E3DAF9;
      }
    &__svg{
        width: 24px;
        height: 24px;
        color: white;
    }
}