.color {
  position: relative;
  &__title {
    font-family: $font;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
  }
  &__label {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    border-radius: 4px;
    padding: 8px 16px;
    box-shadow: 0px 4px 24px 0px #3333333d;
    background-color: white;
    cursor: pointer;
  }
  &__select {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    
  }
  &__current {
    width: 40px;
    height: 40px;
    background-color: #000;
  }
  &__ul-active{
    display: block;
  }
  &__ul-disactive{
    display: none;
  }
  &__ul {
    z-index: 10;
    position: absolute;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
    box-shadow: 0px 14px 24px 0px #3333331f;
    border-radius: 4px;
    background-color: white;
    padding: 8px;
    top: 90px;
    left: 0;
  }
  &__li{
    width: 40px;
    height: 40px;
    background-color: #000;
    cursor: pointer;
  }
  &__arrow-active{
    transform: rotate(180deg);
  }
}
