.file {
  &__text {
    display: none;
  }
  &__text-active {
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    color: #111111;
    margin: 0;
    margin-bottom: 8px;
  }
  &__weight{
    color: #1111117A;
  }
  &__wrap-text{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 20px;
  }

  &__btn-delete {
    display: none;
  }
  &__btn-delete-active{
    //styleName: 13 Paragraph 3;
font-family: Roboto;
font-size: 13px;
font-weight: 400;
cursor: pointer;
border: none;
color: #6E41E2;
background-color: white;

  }
  &__error {
    display: none;
  }
  &__error-active{
font-family: Roboto;
font-size: 13px;
font-weight: 400;
color: #DB524E;

  }
}
