.input-text {
  &__error {
    color: #db524e;
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin: 0;
  }
  &__label {
    border: none;
    outline: none;
    box-shadow: 0px 4px 16px 0px #33333314;
    display: flex;
    align-items: flex-start;
    padding: 16px;
    transition: all 0.5s;
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    color: #111111;
    position: relative;
    margin: 0;
    cursor: text;
    transition: all 0.5s;
    &:hover {
      box-shadow: 0px 4px 56px 0px #33333329;
    }
    &:disabled {
      opacity: 24%;
    }
    &::placeholder {
      font-family: $font;
      font-size: 16px;
      font-weight: 400;
      color: #1111117a;
    }
    &--error {
      box-shadow: 0px 4px 12px 0px #ffc3c33d;
      background-color: #f9e3e3;
    }
  }
  &__span {
    position: absolute;
    top: 16px;
    left: 16px;
    margin: 0;
    &--active {
      font-size: 10px;
      top: 4px;
      color: #1111117a;
    }
  }
  &__input {
    outline: none;
    border: none;
    width: 100%;
    &--error {
      background-color: #f9e3e3;
      font-family: $font;
      font-size: 16px;
      font-weight: 400;
      text-align: left;
      margin: 0;
    }
  }
}
