.primary-btn {
  background-color: #6e41e2;
  border-radius: 4px;
  height: 44px;
  padding: 10px 20px;
  border: 2px solid #6e41e2;
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  border: none;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
  @media (max-width:900px) {
    padding: 5px 10px;
    font-size: 12px;
  }
  &:hover {
    border-color:  $violet-hover;
    background-color: $violet-hover;
  }
  &:active {
    border-color: $violet-active;
    background-color: $violet-active;
  }
  &:focus {
    border-color: black;
  }
  &:disabled{
    border-color:  #E3DAF9;
    background-color: #E3DAF9;
  }
}
