.secondary-btn {
    height: 44px;
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
    border: 2px solid #6e41e2;
    border-radius: 4px;
    color: #6e41e2;
    padding: 10px 20px;
    align-self: flex-end;
    transition: all 0.5s;
    cursor: pointer;
    @media (max-width:900px) {
        padding: 5px 10px;
        font-size: 12px;
      }
    @media (max-width:767px) {
        font-size: 12px;
        padding: 7px 10px;
    }
    &:hover{
        border-color: #6E41E2;
        background-color:#6E41E20A;
        
    }
    &:active{
        background-color: #6E41E229;
        
    }
    &:focus{
        border-color: #1111117A;
    }
    &:disabled{
        opacity: 0.56;
    }
  }