.select {
  position: relative;
  &__title {
    font-family: $font;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
  }
  &__label {
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    text-align: left;

    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    padding: 16px;
    box-shadow: 0px 4px 16px 0px #33333314;
    background-color: white;
    cursor: text;
    &:hover {
      box-shadow: 0px 4px 24px 0px #3333333d;
    }
  }
  &__ul-active {
    display: block;
  }
  &__p-gray{
font-family: $font;
font-size: 16px;
font-weight: 400;
text-align: left;
color: #1111117A;
;

  }
  
  &__ul-disactive {
    display: none;
  }
  &__wrap-svg{
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    
  }
  &__delete{
    transform: rotate(45deg);
    cursor: pointer;
  }
  &__disactive-delete{
    display: none;
  }
  &__ul {
    box-sizing: border-box;
    z-index: 10;
    position: absolute;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    box-shadow: 0px 14px 24px 0px #3333331f;
    border-radius: 4px;
    background-color: white;
    padding: 8px;
    top: 70px;
    left: 0;
  }
  &__li {
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
    margin: -8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 40px;
    cursor: pointer;
    &:hover{
      background-color: #F1F1F1;
    }
  }
  &__arrow-active {
    transform: rotate(180deg);
  }
  &__select {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
  }
  &__checked-disactive{
    display: none;
  }
}
