.textarea {
    border: none;
    outline: none;
  box-shadow: 0px 4px 16px 0px #33333314;
  border: none;
  outline: none;
  padding: 16px;
  transition: all 0.5s;
font-family: $font;
font-size: 16px;
font-weight: 400;
border-radius: 4px;
color: #111111;
resize: none;
  position: relative;
  cursor: text;
  &:hover {
    box-shadow: 0px 4px 56px 0px #33333329;
  }
  &:disabled {
    opacity: 24%;
  }
  &::placeholder{
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    color: #1111117a;
  }
  &--error{
    box-shadow: 0px 4px 12px 0px #FFC3C33D;
    background-color: #F9E3E3;

  }
}
