.form {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    
    
  &__wrap {
    width: 50%;
    padding: 29px 25px;
    box-shadow: 0px 4px 16px 0px #33333314;
    background-color: white;
    position: relative;
    @media (max-width:660px) {
      width: 100%;
    }
  }
  &__btn-close{
    transform: rotate(45deg);
    position: absolute;
    right: 12px;
    top: 12px;
  }

  &__btn-wrap {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  &__title {
    font-family: $font;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 8px;
    text-align: left;
  }
  &__description {
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 24px;
    text-align: left;
  }
}
