.main {
  background-color: #fafafa;
  min-height: 800px;
  &__container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width:660px) {
      padding: 10px;
    }
  }
  &__title {
    font-size: 56px;
    font-weight: 900;
    line-height: 64px;
    font-family: $font;
    color: black;
    margin-bottom: 30px;
    @media (max-width:660px) {
      font-size: 35px;
    }
  }

  &__file-input {
    top: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    opacity: 0;
  }
&__label-active{
  border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 21px;
    min-height: 112px;
    transition: all 0.7s;
  background: #6e41e2 url('./../../src/assets/svg/Vector.svg') center center no-repeat;
}
  &__label {
    transform: none;
    transition: none;
    border: none;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 16px 0px #33333314;
    padding: 20px;
    text-align: left;
    margin-bottom: 21px;
    min-height: 112px;
    cursor: pointer;
    transition: all 0.7s ;
    &:hover{
        box-shadow: 0px 4px 24px 0px #3333333D;

    }
    
  }
  &__file-title {
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    color: #111111;
    margin-bottom: 8px;
  }
  &__span {
    color: #6e41e2;
  }
  &__text {
    font-family: $font;
    font-size: 13px;
    font-weight: 400;
    color: #1111117a;
  }
  &__btn {
    height: 44px;
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
    border: 2px solid #6e41e2;
    border-radius: 4px;
    color: #6e41e2;
    padding: 10px 20px;
    align-self: flex-end;
    transition: all 0.7s;
    margin-bottom: 50px;
    cursor: pointer;
    &:hover{
        border: 2px solid #6E41E2;
        background-color:#6E41E20A;
        
    }
    &:active{
        background-color: #6E41E229;
        
    }
  }
}
